.container.homePage
  .homePage_photo
    = image_tag "photo.png", alt: "Home Photo"

  .card
    .card_container
      .card_header
        .card_avatar
          = image_tag "article_avatar.png", alt: "Avatar"
        .card_title
          .card_account
            %p Jmax_21
          .card_timeAgo
            %p 3 hours ago
      .card_content
        .left_img
          = image_tag "demo-1.png", alt: "Article Image1"
          .img_carousel
            = image_tag "carousel.png", alt: "Carousel"
        .right_images
          .card_img
            = image_tag "demo-2.png", alt: "Article Image2"
          .card_img
            = image_tag "demo-3.png", alt: "Article Image3"
      .card_actions
        .card_action
          = image_tag "like.png", alt: "Like"
        .card_action
          = image_tag "comment.png", alt: "Comment"
        .card_action
          = image_tag "share.png", alt: "Share"
      .card_likes
        %p Jasmine and 12,000 other liked your post
      .card_caption
        %p Jmax_21 Summer holiday :3

    .card_container
      .card_header
        .card_avatar
          = image_tag "article_avatar.png", alt: "Avatar"
        .card_title
          .card_account
            %p Jmax_21
          .card_timeAgo
            %p 3 hours ago
      .card_content
        .left_img
          = image_tag "demo-1.png", alt: "Article Image1"
        .right_images
          .card_img
            = image_tag "demo-2.png", alt: "Article Image2"
          .card_img
            = image_tag "demo-3.png", alt: "Article Image3"
      .card_actions
        .card_action
          = image_tag "like.png", alt: "Like"
        .card_action
          = image_tag "comment.png", alt: "Comment"
        .card_action
          = image_tag "share.png", alt: "Share"
      .card_likes
        %p Jasmine and 12,000 other liked your post
      .card_caption
        %p Jmax_21 Summer holiday :3

    .card_container
      .card_header
        .card_avatar
          = image_tag "article_avatar.png", alt: "Avatar"
        .card_title
          .card_account
            %p Jmax_21
          .card_timeAgo
            %p 3 hours ago
      .card_content
        .left_img
          = image_tag "demo-1.png", alt: "Article Image1"
        .right_images
          .card_img
            = image_tag "demo-2.png", alt: "Article Image2"
          .card_img
            = image_tag "demo-3.png", alt: "Article Image3"
      .card_actions
        .card_action
          = image_tag "like.png", alt: "Like"
        .card_action
          = image_tag "comment.png", alt: "Comment"
        .card_action
          = image_tag "share.png", alt: "Share"
      .card_likes
        %p Jasmine and 12,000 other liked your post
      .card_caption
        %p Jmax_21 Summer holiday :3
