.container.homePage
  .homePage_photo
    = link_to new_post_path do
      = image_tag "photo.png", alt: "Home Photo"

  - @posts.each do |post|
    .card
      .card_container
        .card_header
          .post_profile.card_profile
            .new_post_image
              / ここを @profile ではなく post.user.profile に変更します
              - if post.user.profile&.avatar&.attached?
                = image_tag post.user.profile.avatar
              - else
                = image_tag "Instapp-mv.png"

          .card_title
            .card_account
              -# ここも投稿者の名前に変更
              %p= post.user.username
            .card_timeAgo
              %p= time_ago_in_words(post.created_at) + " ago"

        .card_content
          .left_img
            -# 1枚目の画像を表示
            - if post.images.attached? && post.images[0]
              = image_tag post.images[0], alt: "Main Image"
            - else
              = image_tag "demo-1.png", alt: "No Image"

            .img_carousel
              = image_tag "carousel.png", alt: "Carousel"

          .right_images
            -# 画像が2枚以上ある時だけ右側を表示する工夫
            - if post.images.attached? && post.images.count > 1
              .card_img
                = image_tag post.images[1]
              - if post.images[2]
                .card_img
                  = image_tag post.images[2]

        .card_actions
          .card_action
            = image_tag "like.png", alt: "Like"
          .card_action
            = image_tag "comment.png", alt: "Comment"
          .card_action
            = image_tag "share.png", alt: "Share"

        .card_likes
          -# いいね数を表示
          %p #{number_with_delimiter(post.likes_count)} likes

        .card_caption
          %p
            %strong= post.user.username
            = post.caption
