!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Instapp"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Instapp", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.header
      .header_container
        .header_left
          %p.header_time{class: ("white_text" if current_user.nil? || !user_signed_in?)}
            = Time.current.strftime("%-H:%M")
        .header_right
          .header_icon.mobile_icon
            - if current_user.nil? || !user_signed_in?  # サインイン/アウト画面
              = image_tag "Mobile_white.png", class: "bar full white_signal", alt: "電波"
            - else  # 他の画面
              = image_tag "Mobile-black.png", class: "bar full black_signal", alt: "電波"
          .header_icon.wifi_icon
            - if current_user.nil? || !user_signed_in?  # サインイン/アウト画面
              = image_tag "Wifi_white.png", class: "bar full white_signal", alt: "wifi"
            - else  # 他の画面
              = image_tag "Wifi-black.png", class: "bar full black_signal", alt: "wifi"
          .header_icon.Battery_icon
            - if current_user.nil? || !user_signed_in?  # サインイン/アウト画面
              = image_tag "Battery_white.png", class: "bar full white_signal", alt: "電池"
            - else  # 他の画面
              = image_tag "Battery-black.png", class: "bar full black_signal", alt: "電池"
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
